<div class="container-fluid">
    <h5>Input turns into this array: (See the LoyaltyController and Create Action):</h5>
    <p> <h6>To Get JSON Response:<%=  link_to "Get JSON", :controller => 'loyalty_api', :action => 'show', class: "btn btn-success" %></h6></p>
    <p><%= @user_data_array %></p>
    <br/>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Invited By</th>
            <th scope="col">Loyalty Points</th>
            </tr>
        </thead>
        <tbody>
        <%  @user_for_ui.each do |user_data| %>
            <tr>
            <th scope="row"><%= user_data.id %></th>
                <td><%= user_data.username %></td>
                <td><%= user_data.invited_by %></td>
                <td><%= user_data.loyalty_points %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>