<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        <div class="col alert">
            <p><h5> Input the test input as given in the PDF or similar input. See in Last to view current status</h5></p>
           <p> <h6>To Get JSON Response:<%=  link_to "Get JSON", :controller => 'loyalty_api', :action => 'show', class: "btn btn-success" %></h6></p>
            <code>
                <p>2018-06-12 09:41 A recommends B</p>
                <p>2018-06-14 09:41 B accepts</p>
                <p>2018-06-16 09:41 B recommends C</p>
                <p>2018-06-17 09:41 C accepts</p>
                <p>2018-06-19 09:41 C recommends D</p>
                <p>2018-06-23 09:41 B recommends D</p>
                <p>2018-06-25 09:41 D accepts</p>
           </code>
        </div>
       <form method="POST" action="/loyalty_api/create">
           <%= csrf_meta_tags %>
           <div class="form-group">
                <label for="loyalty_test_input">Loyalty Test Input</label>
                <textarea class="form-control" name="loyalty_test_input" id="loyalty_test_input" rows="20"></textarea>
            </div>
            <div class="form-group">
               <input type="submit" class="btn btn-primary" value="Post"/>
            </div>
        </form>
        <div class="col alert">
            <h5>Current Status</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Invited By</th>
                    <th scope="col">Loyalty Points</th>
                    </tr>
                </thead>
                <tbody>
                <%  @user_for_ui.each do |user_data| %>
                    <tr>
                    <th scope="row"><%= user_data.id %></th>
                    <td><%= user_data.username %></td>
                    <td><%= user_data.invited_by %></td>
                    <td><%= user_data.loyalty_points %></td>
                    </tr>
                <% end %>
                </tbody>
                </table>
        </div>
    </div>
</main>


